.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1;
  margin-bottom: 2;
}

.heading {
  font-size: 48px;
  text-align: center;
  margin-top: 1rem;
  margin-left: 2rem;
}

.button {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 2rem;
  margin-top: 1rem;
  text-align: center;
}

.sub-header {
  font-size: 24px;
  max-width: 30%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: 20px;
  /* border: 1px solid; */
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
