.classification-buttons {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  margin-top: 3rem;
}

.form {
  margin: auto;
  width: 30%;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #1565c0;
}

.form h3 {
  text-align: center;
}

.actions {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.chart-container {
  margin: auto;
  min-width: 45%;
  border: 1px solid;
  position: relative;
}

.chart-header {
  margin: auto;
  text-align: center;
  margin-top: 2rem;
}

.chart-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
}

.chart-iteration {
  font-size: 1.2rem;
  text-align: center;
  vertical-align: center;
}

.results-table {
  margin: auto;
  border: 1px solid;
  margin-top: 2rem;
  border-collapse: separate;
}

.results-table-labels div {
  font-weight: 700;
}
